<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <p>
                    {{filePath}}
                </p>
                <div class="form-group">
                    <textarea id="code" name="code">
                        {{configXml}}
                    </textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">Save</button>
                <button type="button" ng-click="cancel()" class="btn">Close</button>
            </div>
        </div>
    </div>
</div>