<div ng-app="app">

    <link rel="stylesheet" href="~/Content/Dashboard/epoch.min.css" />
    <link rel="stylesheet" href="~/Content/ui-grid.css" />

    <!-- MetisMenu CSS -->
    <!-- Timeline CSS -->
    <link href="~/Content/Dashboard/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/Dashboard/sb-admin-2.css" rel="stylesheet">

    <link rel="stylesheet" href="http://cdn.jsdelivr.net/bootstrap.metismenu/1.1.0/css/metismenu.min.css">
    <!-- Morris Charts CSS -->
    <link href="~/Content/Dashboard/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="Content/Dashboard/app.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/site_dashboard.css" />

    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Dashboard/d3.min.js"></script>
    <script src="~/Scripts/Dashboard/epoch.min.js"></script>
    <script src="~/Scripts/Dashboard/ng-epoch.js"></script>
    <script src="~/Scripts/Dashboard/pie-chart.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Scripts/Dashboard/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="~/Scripts/Dashboard/raphael.min.js"></script>
    <script src="~/Scripts/Dashboard/morris.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/Dashboard/sb-admin-2.js"></script>
    <script src="~/Scripts/ui-grid.min.js"></script>

    <script src="~/AngularJS/Services/DashboardHubService.js"></script>
    <script src="~/AngularJS/Services/LogHubService.js"></script>
    <script src="~/AngularJS/Directives/Directives.js"></script>
    <script src="~/AngularJS/Controllers/DashboardController.js"></script>
    <script src="~/AngularJS/Controllers/LogController.js"></script>

    <script src="~/Scripts/Dashboard/plugin.js"></script>

    <div id="page-wrapper">
        <div class="row" style="height:50px" ng-controller="PerformanceDataController">
            <div class="col-lg-2">
                <select ng-model="selectedMachine" ng-options="m.machineName for m in machines"
                        ng-change="selectMachine(selectedMachine)"></select>
            </div>
        </div>
        <div class="row" style="height:200px" ng-controller="PerformanceDataController">
            <div class="col-lg-2">
                <div class="panel panel-dashboard">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="controls left"><i class="ion ion-more"></i></div>
                                <div class="controls right"><a class="remove"><i class="ion ion-minus-round "></i></a></div>
                                <div class="center">CPU Performance</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div ng-controller="PerformanceDataController" style="height:257px">
                            <pie-chart data="data" options="options"></pie-chart>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <div class="col-lg-3 col-lg-2">
                <div class="panel panel-dashboard">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="controls left"><i class="ion ion-more"></i></div>
                                <div class="controls right"><a class="remove"><i class="ion ion-minus-round"></i></a></div>
                                <div class="center">Memory Free </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="huge">{{currentRamNumber}}</div>
                        <!--<a href="#"><span>View Details</span></a>-->
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-lg-2">
                <div class="panel panel-dashboard">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="controls left"><i class="ion ion-more"></i></div>
                                <div class="controls right"><a class="remove"><i class="ion ion-minus-round"></i></a></div>
                                <div class="center">Memory Used </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="huge">{{currentRamNumber}}</div>
                        <!--<a href="#"><span>View Details</span></a>-->
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-lg-2">
                <div class="panel panel-dashboard">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="controls left"><i class="ion ion-more"></i></div>
                                <div class="controls right"><a class="remove"><i class="ion ion-minus-round"></i></a></div>
                                <div class="center">Disk Read KB/sec </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="huge">{{diskReaddData}}</div>
                        <!--<a href="#"><span>View Details</span></a>-->
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- /.row -->
        <div class="row" ng-controller="PerformanceDataController">
            <div class="col-lg-3 col-lg-2">
                <div class="panel panel-dashboard">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="controls left"><i class="ion ion-more"></i></div>
                                <div class="controls right"><a class="remove"><i class="ion ion-minus-round"></i></a></div>
                                <div class="center">Network In KB/sec </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="huge">{{netInData}}</div>
                        <!--<a href="#"><span>View Details</span></a>-->
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-lg-2">
                <div class="panel panel-dashboard">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="controls left"><i class="ion ion-more"></i></div>
                                <div class="controls right"><a class="remove"><i class="ion ion-minus-round"></i></a></div>
                                <div class="center">Network Out KB/sec </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="huge">{{netOutData}}</div>
                        <!--<a href="#"><span>View Details</span></a>-->
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-lg-2">
                <div class="panel panel-dashboard">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="controls left"><i class="ion ion-more"></i></div>
                                <div class="controls right"><a class="remove"><i class="ion ion-minus-round"></i></a></div>
                                <div class="center">Disk Write KB/sec </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="huge">{{diskWriteData}}</div>
                        <!--<a href="#"><span>View Details</span></a>-->
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-dashboard">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="controls left"><i class="ion ion-more"></i></div>
                                <div class="controls right"><a class="remove"><i class="ion ion-minus-round"></i></a></div>
                                <div class="center">Syslog Viewer </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <!--<div style="width: 1200px; height: 400px;" ng-controller="LogController">-->
                        <div style="height: 400px;" ng-controller="LogController as vm">
                            <!--<div class="gridStyle" ui-grid="gridOptions"></div>-->
                            <div ui-grid="gridOptions"></div>
                        </div>
                        <button ng-click="vm.loadLogs()" class="btn btn-default btn-block">Refresh</button>
                    </div>

                        <!-- /.panel-body -->
                </div>
                <div class="panel panel-dashboard">
                    <
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <!--<div class="huge">{{currentRamNumber}}</div>-->
                                <div class="controls left"><i class="ion ion-more"></i></div>
                                <div class="controls right"><a class="remove"><i class="ion ion-minus-round"></i></a></div>
                                <div class="center">Notifications Panel</div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">

                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <div class="row" ng-controller="PerformanceDataController">
            <div class="col-lg-3 col-lg-2">
                <div class="panel panel-dashboard">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="controls left"><i class="ion ion-more"></i></div>
                                <div class="controls right"><a class="remove"><i class="ion ion-minus-round"></i></a></div>
                                <div class="center">Current IIS Connections </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="huge">{{currentConnections}}</div>
                        <!--<a href="#"><span>View Details</span></a>-->
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-lg-2">
                <div class="panel panel-dashboard">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="controls left"><i class="ion ion-more"></i></div>
                                <div class="controls right"><a class="remove"><i class="ion ion-minus-round"></i></a></div>
                                <div class="center">IIS File Cache (MB) </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="huge">{{currentFileCache}}</div>
                        <!--<a href="#"><span>View Details</span></a>-->
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-lg-2">
                <div class="panel panel-dashboard">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="controls left"><i class="ion ion-more"></i></div>
                                <div class="controls right"><a class="remove"><i class="ion ion-minus-round"></i></a></div>
                                <div class="center">IIS Bytes Sent/sec </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="huge">{{currentBytesSent}}</div>
                        <!--<a href="#"><span>View Details</span></a>-->
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-lg-2">
                <div class="panel panel-dashboard">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="controls left"><i class="ion ion-more"></i></div>
                                <div class="controls right"><a class="remove"><i class="ion ion-minus-round"></i></a></div>
                                <div class="center">IIS Bytes Received/sec </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="huge">{{currentBytesReceived}}</div>
                        <!--<a href="#"><span>View Details</span></a>-->
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-dashboard">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="controls left"><i class="ion ion-more"></i></div>
                                <div class="controls right"><a class="remove"><i class="ion ion-minus-round"></i></a></div>
                                <div class="center">Memory/CPU/Network </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body" ng-controller="PerformanceDataController">
                        <epoch-live-area chart-class="category10" chart-height="200" chart-data="realtimeArea" chart-stream="realtimeAreaFeed" chart-axes="areaAxes"></epoch-live-area>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
                <!-- /.col-lg-8 -->
            </div>
            <!-- /.col-lg-8 -->
        </div>
        <!-- /.row -->
        <script src="http://cdn.jsdelivr.net/velocity/1.1.0/velocity.min.js"></script>
        <script src="Scripts/plugin.js"></script>
    </div>
</div>