################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
**/obj/**
**/bin/**
*/obj
*/bin
*.suo
**/*.suo
*/.vs/*
.vs/
*.jfm
**/*.jfm
*/*.jfm

/DevOps/DevOps.dbmdl
