
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    <form id="form1">
        <div>
            <table>
                <tr><td>&nbsp;</td><td><h1 align="left">PowerShell Command Harness</h1></td></tr>
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td>&nbsp;</td><td>PowerShell Command</td></tr>
                <tr>
                    <td>
                        <br />
                    </td>
                    <td>
                        <asp:TextBox ID="Input" runat="server" TextMode="MultiLine" Width="433px" Height="73px"></asp:TextBox>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <asp:Button ID="ExecuteCode" runat="server" Text="Execute" Width="200" onclick="ExecuteCode_Click" />
                    </td>
                </tr>
                <tr><td>&nbsp;</td><td><h3>Result</h3></td></tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <asp:TextBox ID="ResultBox" TextMode="MultiLine" Width="700" Height="200" runat="server"></asp:TextBox>
                    </td>
                </tr>
            </table>
        </div>
    </form>

