@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<div class="list-header clearfix">
    <h2><span>Error</span></h2>
</div>
<div class="list-sfs-holder">
    <div class="list-header">
        An unexpected error has occurred.
        <a href="mailto:XXXXXXXXXXXX@marcom.com?subject=Application Config Management">
            Please email the IT helpdesk to request assistance.
        </a>
    </div>
    <br />
    @if (Model != null)
    {
        //if (User.IsInRole(ViewBag.DeveloperRole))
        {
            <div>
                <p>
                    <b>Exception:</b> @Model.Exception.Message<br />
                    <b>Controller:</b> @Model.ControllerName<br />
                    <b>Inner Exception:</b> @Model.Exception.InnerException<br />
                    <div class="flip">
                        <b><span>View Error Stack Trace</span></b><br />
                    </div>
                </p>
                <div class="panel">

                    <pre>
                        @Model.Exception.StackTrace
                    </pre>
                </div>
            </div>
        }
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".flip").click(function () {
            $(".panel").slideToggle("slow");
        });
    });
</script>
