<!--<div ng-if="row.groupHeader&&row.treeLevel>0">-->
<div ng-if="row.groupHeader">
    <div class="ui-grid-cell-contents">
        <button value="File" class="btn btn-xs btn-default" ng-click="grid.appScope.showFile(row)">View File</button>
        <button value="AddVar" class="btn btn-xs btn-info" ng-click="grid.appScope.addVar(row)">Add Var</button>
    </div>
</div>

<div ng-if="!row.groupHeader">
    <div class="ui-grid-cell-contents">
        <button id="editBtn" ng-if="!grid.appScope.edit || grid.renderContainers.body.visibleRowCache.indexOf(row) !== grid.appScope.rowIndex" type="button" class="btn btn-xs btn-default" ng-click="grid.appScope.editCell(row)">Edit </button>
        <button id="saveBtn" ng-if="grid.appScope.edit && grid.renderContainers.body.visibleRowCache.indexOf(row) === grid.appScope.rowIndex" type="button" class="btn btn-xs btn-warning" ng-click="grid.appScope.saveRow(row)">Save </button>
        &nbsp; <button id="cancelBtn" ng-if="grid.appScope.edit && grid.renderContainers.body.visibleRowCache.indexOf(row) === grid.appScope.rowIndex" type="button" class="btn btn-xs btn-info" ng-click="grid.appScope.cancelEdit()">Cancel </button>
    </div>
</div>
