<div class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title">Add / Edit Application</h2>
            </div>
            <div class="modal-body">
                <form name="applicationForm">
                    <p>
                        <div class="form-group">
                            <select ng-model="applicationApplications" ng-options="c.name for c in applications" ng-change="selectApplication(applicationApplications)">
                                <option value="" style="color:red">Select Application:</option>
                            </select>
                        </div>
                        <b> OR: </b>
                        <div class="form-group">
                            <label><b>New Application Name:</b></label>
                            <!--<input id="application" class="form-control" type="text" ng-model="applicationName" required>-->
                            <input id="application" class="form-control" type="text" ng-model="applicationName">
                        </div>
                        <div class="form-group">
                            <label><b>Release Version:</b></label>
                            <!--<input id="application" class="form-control" type="text" ng-model="applicationName" required>-->
                            <input id="release" class="form-control" type="text" ng-model="release">
                        </div>
                    </p>
                    <p>
                        <div class="form-group">
                            <label><b>Components(s):</b></label>
                            <multi-select ng-model="applicationComponents"
                                          available="availableComponents"
                                          selected-label="Current"
                                          available-label="Available"
                                          display-attr="name">

                            </multi-select>
                            <div ng-if="applicationName !==''">{{applicationName}}'s Components: </div>
                            <ul>
                                <li ng-repeat="comp in applicationComponents">{{comp.name}}</li>
                            </ul>
                        </div>
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <!--<button type="button" ng-click="publish()" class="btn btn-dark btn-warning" style="float:left;">Import</button>-->
                <button type="button" ng-click="save()" class="btn btn-md btn-primary">Save</button>
                <button type="button" ng-click="cancel()" class="btn btn-md btn-danger">Cancel</button>
            </div>
        </div>
    </div>
    <script>
        $('.modal-content').resizable({
            alsoResize: ".modal-header, .modal-body, .modal-footer"
        });
        $('.modal-dialog').draggable();
    </script>
</div>