<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Component</h4>
            </div>
            <div class="modal-body">


            </div>
            <div class="modal-footer">
                <button type="button" ng-click="import()" class="btn btn-dark btn-primary" style="float:left;">Import</button>
                <button type="button" ng-click="save()" class="btn btn-warning">Save</button>
                <button type="button" ng-click="cancel()" class="btn">Close</button>
            </div>
        </div>
    </div>
</div>