<div class="modal fade">
    <div class="modal-dialog modal-md" id="componentModal" tabindex="-1" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title">Add / Edit Component</h2>
            </div>
            <div class="modal-body">
                <form name="componentForm">
                    <div class="form-group">
                        <select ng-model="componentComponents" ng-options="c.name for c in components" ng-change="selectComponent(componentComponents)">
                            <option value="" style="color:red">Select Component:</option>
                        </select>
                    </div>
                    <div ng-hide="(componentComponents)">
                        <b> OR: </b>
                        <div class="form-group">
                            <label><b>New Component Name:</b></label>
                            <!--<input id="component" class="form-control" type="text" ng-model="componentName" required>-->
                            <input id="component" class="form-control" type="text" ng-model="componentName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label><b>Application(s):</b></label>
                        <multi-select ng-model="componentApplications"
                                      available="availableApplications"
                                      selected-label="Current"
                                      available-label="Available"
                                      display-attr="name">
                        </multi-select>
                    </div>
                    <div class="form-group">
                        <label>Relative File Path:</label>
                        <!--<input id="path" class="form-control" type="text" ng-model="filePath" required>-->
                        <input id="path" class="form-control" type="text" ng-model="filePath">
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="form-inline">
                            <select name="selectEnvironment" ng-model="componentEnvironment" ng-options="c.name for c in environments" ng-change="selectEnvironment(componentEnvironment)">
                                <option value="" style="color:red">Select Environment:</option>
                            </select>
                            <label><input type="checkbox" ng-model="isGlobal" />Global</label>
                        </div>
                    </div>
                    <div ng-disabled="!(componentEnvironment) || (componentName === '')" ngf-drop ngf-select ng-model="files" class="drop-box"
                         ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
                         accept=".config,.xml"
                         ngf-pattern="'.config,.xml'">Drop .config or .xml files here or click to upload</div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                </form>
            </div>
            <div class="modal-footer">
                <!--<button type="button" ng-click="publish()" class="btn btn-dark btn-warning" style="float:left;">Import</button>-->
                <button type="button" ng-click="save()" class="btn btn-md btn-primary">Save</button>
                <button ng-disabled="uploaded" type="button" ng-click="cancel()" class="btn btn-md btn-danger">Cancel</button>
            </div>
        </div>
    </div>
    <script>
        $('.modal-content').resizable();
        $('.modal-dialog').draggable();
    </script>
</div>