<div class="modal fade">
    <!--<div class="modal-dialog" ng-class="[modalSize]">-->
        <!--<div class="modal-dialog modal-md">-->
        <!--<div class="modal-dialog modal-sm">-->
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title">{{component}}</h2>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div ng-if="displayFileSelect">
                        <div ng-if="!selectedFile.fileName">
                            <b>Select a File: </b>
                        </div>
                        <select ng-model="selectedFile" ng-options="f.fileName for f in files" ng-change="updateFile(selectedFile)">
                            <option value="" style="color:red">File</option>
                        </select>
                    </div>
                    <div ng-if="!selectedEnvironment">
                        <b>Select an Environment: </b>
                    </div>
                    <!--<select ng-model="selectedEnvironment" ng-options="e for e in files.environment" ng-change="updateEnvironment(selectedEnvironment)">-->
                    <select ng-model="selectedVmEnvironment" ng-options="e.name for e in environments" ng-change="updateEnvironment(selectedVmEnvironment)">
                    </select>
                    <button ng-if="displayGetFile" type="button" class="btn btn-dark btn-primary" ng-click="getFile()">Get File</button>
                </div>
                <div ng-if="!configXml==''">
                    <p>
                        {{filePath}}
                    </p>
                    <textarea ng-if="!configXml==''" id="config" name="config" class="file-view">{{configXml}}</textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-if="!configXml==''" ngclipboard data-clipboard-target="#config" class="btn btn-md btn-info" style="float:left;">Copy To Clipboard</button>
                <!--<a href="#" type="button" class="btn btn-md btn-primary" ng-click="download()">Download</a>-->
                <button ng-if="!configXml==''" type="button" class="btn btn-md btn-primary" ng-click="download()">Download</button>
                <!--<button type="button" ng-click="publish()" class="btn btn-danger">Publish</button>-->
                <button type="button" ng-click="close()" class="btn btn-md btn-danger">Close</button>
            </div>
        </div>
    </div>
    <script>
        $('.modal-dialog').draggable();
    </script>
</div>