<div ng-if="row.groupHeader&&row.grid.options.columnDefs[2].visible==false" class="ui-grid-cell-contents">
    {{row.treeNode.aggregations[0].groupVal}}
</div>
<div ng-if="!row.groupHeader&&row.entity.key==''&&row.entity.configParentElement==''">
    <div class="ui-grid-cell-contents">
        { Root Element }
    </div>
</div>
<div ng-if="!row.groupHeader&&row.entity.key==''&&row.entity.configParentElement!=''">
    <div class="ui-grid-cell-contents">
        { Object Element }
    </div>
</div>
<div ng-if="!row.groupHeader&&row.entity.key!=''" 
     class="grid-tooltip" 
     tooltip="{{row.entity.configParentElement}}<br />&nbsp;{{row.entity.fullElement}}<br />{{row.entity.configParentElement}}" 
     tooltip-placement="right" 
     popover-template="{{row.entity.configElement}}" 
     popover-placement="bottom" 
     popover-trigger="mouseenter">
    <div class="ui-grid-cell-contents">
        {{ COL_FIELD }}
    </div>
</div>