<div ng-if="row.groupHeader&&row.entity.isGlobal">
    { Global Values }
</div>
<!--<div ng-if="row.groupHeader&&!row.entity.isGlobal">
    Application(s): {{row.entity.applicationNames}}
</div>-->
<div ng-if="!row.groupHeader&&row.entity.key==''">
    <div class="ui-grid-cell-contents">
        {{row.entity.fullElement}}
    </div>
</div>
<div ng-if="!row.groupHeader&&row.entity.key!=''&&row.entity.values[appScope.environmentIndex].value==''&&grid.appScope.environmentIndex!=-1">
    <div class="ui-grid-cell-contents">
        { no value }
    </div>
</div>
<div ng-if="!row.groupHeader&&row.entity.key!=''&&(grid.appScope.environmentIndex===-1)&&(!row.entity.isGlobal)">
    <div class="ui-grid-cell-contents">
        { Please Select Environment }
    </div>
</div>
<div ng-if="!row.groupHeader&&row.entity.key!=''&&(grid.appScope.environmentIndex===-1)&&row.entity.isGlobal">
    <div class="ui-grid-cell-contents">
        { Please Select Any Environment }
    </div>
</div>
<div ng-if="!row.groupHeader&&row.entity.key!=''&&row.entity.values[appScope.environmentIndex].value!=''">
    <div class="ui-grid-cell-contents grid-tooltip">
        <md-tooltip md-direction="top" style="font-size:16px;">
            {{ row.entity.fullElement }}
        </md-tooltip>
        {{ COL_FIELD }}
    </div>
</div>
