
@{
    ViewBag.Title = "Edit App Config for Machine";
}

{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" ng-controller="MachineController as vm">
        <h4>Machine</h4>
        <hr />

        <div class="panel panel-danger">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <form class="input" ng-submit="submit()" role="form">
                    <div style="border: 2px solid gray;width:600px;">
                        <labl> <b> Add a New Model:  NG GRID DEMO </b></labl>
                        <div class="form-group">
                            <label><b>Machine Name:</b></label>
                            <input id="inputs" class="form-control" type="text" ng-model="Machine.machine_name">
                        </div>
                        <div class="form-group">
                            <label><b>Location:</b></label>
                            <input id="location" class="form-control" type="text" ng-model="Machine.location">
                        </div>
                        <div class="form-group">
                            <label>Usage:</label>
                            <input id="usage" class="form-control" type="text" ng-model="Machine.usage">
                        </div>
                        <div class="form-group">
                            <label>Active</label>
                            <input id="active" class="form-control" type="number" ng-model="active">
                        </div>

                        <div class="form-group">
                            <input type="submit" value="submit" id="but" class="btn btn-success">
                            <button type="button" ng-click="changeGroupBy('machine_name','application')">Machine By Name and Application</button>
                            <button type="button" ng-click="clearGroupBy()">Clear Group</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading"><b><p style="padding-left:50px;">Model and Stocks Information</p></b></div>
            <div style="width: 500px;">
                <div class="gridStyle" ui-grid="gridOptions"></div>
            </div>
        </div>  
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
