<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DomainUserSection" type="CommonUtils.IISAdmin.DomainUserSection, CommonUtils.IISAdmin" requirePermission="false" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>

  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <DomainUserSection>
    <DomainUsers>
      <DomainUser id="1">
        <uri value="dev.corp.printable.com" />
        <ipprefix value="10.11.11" />
        <domain value="PRINTABLE" />
        <environment value="development" />
        <username value="pdelosreyes" />
        <password value="Patman7474!" />
      </DomainUser>
      <DomainUser id="2">
        <uri value="las.printable.com" />
        <ipprefix value="10.11.11" />
        <domain value="LAS" />
        <environment value="QA" />
        <username value="root" />
        <password value="sQtkepc3m" />
      </DomainUser>
      <DomainUser id="3">
        <uri value="cl.printable.com" />
        <ipprefix value="10.11.11" />
        <domain value="CL" />
        <environment value="EU" />
        <username value="root" />
        <password value="L&amp;Erbl93srf" />
      </DomainUser>
      <DomainUser id="4">
        <uri value="dc.pti.com" />
        <ipprefix value="10.11.11" />
        <domain value="DC" />
        <environment value="production" />
        <username value="root" />
        <password value="ok2m40tK!" />
      </DomainUser>
    </DomainUsers>
  </DomainUserSection>
</configuration>