@{
    ViewBag.Title = "DevOps - App Config Editor";
}

<h2>App Config Editor</h2>
@Html.AntiForgeryToken()
<hr />
<div ng-app="app" ng-strict-di>
    <div ng-controller="ConfigController as vm">
        <div ng-if="displayApi=='True'" class="above-grid">
            <div class="pull-left">
                Api Url: <a href="{{ApiBaseUrlHelp}}" target="_blank">{{ApiBaseUrl}}</a>
            </div>
        </div>
        <div class="control-group above-grid">
            <select ng-model="selectedEnvironment" ng-options="x.name for x in environments" ng-change="updateEnvironment()">
                <option value="" style="color:red">Environment</option>
            </select>
            <select ng-model="selectedComponent" ng-options="c.name for c in components" ng-change="updateComponent()">
                <option value="" style="color:red">Component</option>
            </select>
            <select ng-model="selectedApplication" ng-options="a.name for a in applications" ng-change="updateApplication()">
                <option value="" style="color:red">Application</option>
            </select>

            <input ng-if="Admin" type="button" class="btn btn-md btn-info" ng-click="addComponent()" value="Add / Edit Component" />

            <input ng-if="Admin" type="button" class="btn btn-md btn-info" ng-click="addApplication()" value="Add / Edit Application" />
            <input ng-if="Admin" ng-disabled="!selectedEnvironment||!selectedApplication" type="button" class="btn btn-md btn-warning" ng-click="publishApplication(selectedApplication)" value="Publish Application" />
            <div id="prodEnvironment" ng-if="environment==='production'" class="prodWarning">{{environment}}!</div>
            <div class="pull-right">
                User: <i><font color="red">{{currentUser}}</font></i>
            </div>
        </div>
        <div ui-grid="gridOptions"
             ui-grid-grouping ui-grid-exporter ui-grid-selection
             ui-grid-resize-columns ui-grid-edit ui-grid-row-edit
             ui-grid-pagination ui-grid-cellNav ui-grid-expandable
             class="gridStyle">
        </div>
    </div>
</div>
