@{
    ViewBag.Title = "DevOps - App Config Editor";
}

<h2>App Config Editor</h2>
@Html.AntiForgeryToken()
<hr />
<div ng-app="app">
    <div ng-controller="ConfigController as vm">
        <div class="control-group">
            <select ng-model="selectedEnvironment" ng-options="x.name for x in environments" ng-change="updateEnvironment()">
                <option value="" style="color:red">Environment</option>
            </select>
            <select ng-model="selectedComponent" ng-options="c.name for c in components" ng-change="updateComponent()">
                <option value="" style="color:red">Component</option>
            </select>
            <select ng-model="selectedApplication" ng-options="a.name for a in applications" ng-change="updateApplication()">
                <option value="" style="color:red">Application</option>
            </select>

            <input type="button" class="btn btn-md btn-info" ng-click="addComponent()" value="Add / Edit Component" />

            <input type="button" class="btn btn-md btn-info" ng-click="addApplication()" value="Add / Edit Application" />
            <div class="float:right">Api Url: <a href="{{ApiBaseUrlHelp}}" target="_blank">{{ApiBaseUrl}}</a></div>
        </div>
            <div ui-grid="gridOptions"
            ui-grid-grouping ui-grid-exporter ui-grid-selection
            ui-grid-resize-columns ui-grid-edit ui-grid-row-edit
            ui-grid-pagination ui-grid-cellNav ui-grid-expandable
            class="gridStyle" >
        </div>
    </div>
</div>
