
@{
    ViewBag.Title = "Machine Editor";
}

<h2>Machine Editor</h2>

<div ng-app="app" ng-controller="MachineController as vm">
    <div class="panel panel-danger">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <form class="input" ng-submit="vm.submit()" role="form">
                <div style="border: 2px solid gray;width:900px;">
                    <labl> <b> Add a New Machine: Marcom Central </b></labl>
                    <div class="form-group">
                        <label>
                            <b>Machine:</b>
                        </label>
                        <input id="inputs" class="form-control" type="text" ng-model="vm.machine_name">
                    </div>
                    <div class="form-group">
                        <label><b>Location:</b></label>
                        <input id="Number1" class="form-control" type="text" ng-model="vm.location">
                    </div>
                    <div class="form-group">
                        <label>Usage:</label>
                        <input id="Date1" class="form-control" type="number" ng-model="vm.usage">
                    </div>
                    <div class="form-group">
                        <label>Active:</label>
                        <input id="Number2" class="form-control" type="number" ng-model="vm.active">
                    </div>

                    <div class="form-group">
                        <input type="submit" value="submit" id="but" class="btn btn-success">
                        <button type="button" ng-click="vm.changeGroupBy('machine_name','location')">Machine By Name and Location</button>
                        <button type="button" ng-click="vm.clearGroupBy()">Clear Group</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading"><b><p style="padding-left:50px;">Model and Stocks Information</p></b></div>
        <div style="width: 800px;">
            <div class="gridStyle" ui-grid="gridOptions"></div>
        </div>
    </div>
</div>