
@{
    ViewBag.Title = "Machine Editor";
}

<h2>Machine Editor</h2>

@Html.AntiForgeryToken()
<div ng-app="app" ng-strict-di>
    <div ng-controller="MachineController as vm">
        <div class="control-group">
            <select ng-model="selectedEnvironment" ng-options="x.name for x in environments" ng-change="updateEnvironment()">
                <option value="" style="color:red">Environment</option>
            </select>
            <select ng-model="selectedApplication" ng-options="a.name for a in applications" ng-change="updateApplication()">
                <option value="" style="color:red">Application</option>
            </select>
            <select ng-model="selectedLocation" ng-options="l.name for l in locations" ng-change="updateLocation()">
                <option value="" style="color:red">Location</option>
            </select>

            <input type="button" class="btn btn-small btn-info" ng-click="addMachine()" value="Add / Edit Machine" />
            <div class="float:right">Api Url: <a href="{{ApiBaseUrlHelp}}" target="_blank">{{ApiBaseUrl}}</a></div>

            <div cg-busy="myPromise" ui-grid="gridOptions"
                 ui-grid-grouping ui-grid-exporter ui-grid-selection
                 ui-grid-resize-columns ui-grid-edit ui-grid-row-edit
                 ui-grid-pagination ui-grid-cellNav ui-grid-expandable
                 class="gridStyle">

            </div>
        </div>
    </div>
</div>