body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 380px;*/
    max-width: 90%;
}

/* Stack Trace panel size and color options */
div.panel {
    margin: 0px;
	padding: 5px;
	/*text-align: left;
	background: #ddd;
	border: solid 1px #fff;
    max-width: 75%;*/
	display: none;
}

/* Instruction panel button */
div.flip {
    border: solid 1px #fff;
}

.flip span{
    color: blue;
}

.flip:hover span{
    font-weight:bold;
    text-decoration:underline;
}  

div.panelReverse {
    margin: 0px;
	padding: 5px;
	/*text-align: left;
	background: #ddd;
	border: solid 1px #fff;
    max-width: 75%;*/
}

/* Instruction panel button */
div.flipReverse {
    border: solid 1px #fff;
}

.flipReverse span{
    color: blue;
}

.flipReverse:hover span{
    font-weight:bold;
    text-decoration:underline;
}  

.gridStyle {
  /*width: 1600px;*/
  width: 95%;
  max-width: 1800px;
  height: 800px;
  align-content: center;
}

.grid-tooltip {
  overflow: visible;
  z-index: 9999999;
  float: left;
}

.my-custom-menu {
  position: absolute;
}
 
.my-custom-menu .ui-grid-menu {
  padding: 0px;
}
 
.my-custom-menu .ui-grid-menu-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-group {
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 100%;
    max-width: 100%;
}

/*.CodeMirror {
    max-width: 1800px;
    max-height: 1200px;
    height: 800px;
    width: 100%;
    align-content: center;
}*/

.CodeMirror {
    max-width: 1200px;
    max-height: 800px;
    min-height: 50px;
    align-content: center;
}

.CodeMirror textarea {
    resize: both;
}

/*.CodeMirror {
  font-family: Monaco, Menlo,"Andale Mono","lucida console","Courier New", monospace !important;
}*/

/* for drag and drop file upload */ 
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 300px;
    height: 125px;
    text-align: center;
    padding-top: 35px;
    margin: 0px;
}
.dragover {
    border: 5px dashed blue;
}

.modal-body .file-view {
    min-width: 60%;
    min-height: 60%;
    width: 800px;
    height: 600px;
}

.modal-body .form-control {
    max-width: 500px;
}
.multiSelect .select {
    width: 420px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

.multiSelect .multiSelectBox {
    min-width: 200px;
}

.multiSelect .text {
    clear: both;
    font-size: 11px;
}
.multiSelect label::after {
    content: ":";
}
.btn.mover {
    display: inline-block;
    margin-bottom: 25px;
    /*margin-top: 25px;*/
}
.btn.mover.down {
    margin-left: 3px;
    margin-right: 2px;
    padding: 3px 8px 2px 6px;*/
}
.btn.mover.up {
    margin-right: 10px;
    margin-left: 2px;
    padding: 3px 8px 2px 6px;*/
}
.btn.mover i {
    margin: 0;
}

li {
    list-style-type: disc;
}
.modal-content.ui-resizable {
    overflow-y: scroll;
    position: static;
}
.modal-dialog {
  position: relative;
}