body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 380px;
}

/* Stack Trace panel size and color options */
div.panel {
    margin: 0px;
	padding: 5px;
	/*text-align: left;
	background: #ddd;
	border: solid 1px #fff;
    max-width: 75%;*/
	display: none;
}

/* Instruction panel button */
div.flip {
    border: solid 1px #fff;
}

.flip span{
    color: blue;
}

.flip:hover span{
    font-weight:bold;
    text-decoration:underline;
}  

div.panelReverse {
    margin: 0px;
	padding: 5px;
	/*text-align: left;
	background: #ddd;
	border: solid 1px #fff;
    max-width: 75%;*/
}

/* Instruction panel button */
div.flipReverse {
    border: solid 1px #fff;
}

.flipReverse span{
    color: blue;
}

.flipReverse:hover span{
    font-weight:bold;
    text-decoration:underline;
}  

.gridStyle {
  /*width: 1600px;*/
  width: 95%;
  max-width: 1800px;
  height: 800px;
  align-content: center;
}

.grid-tooltip {
  overflow: visible;
  z-index: 9999999;
  float: left;
}

.my-custom-menu {
  position: absolute;
}
 
.my-custom-menu .ui-grid-menu {
  padding: 0px;
}
 
.my-custom-menu .ui-grid-menu-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-group {
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 100%;
    max-width: 100%;
}

.textarea {
    max-width: 100%;
    max-height: 100%;
    resize: both;
}

.CodeMirror {
    max-width: 1800px;
    max-height: 1200px;
    height: 800px;
    width: 100%;
    align-content: center;
}

.CodeMirror textarea {
    resize: both;
}

/* for drag and drop file upload */ 
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 75px;
    text-align: center;
    padding-top: 15px;
    margin: 0px;
}
.dragover {
    border: 5px dashed blue;
}

/* multi-select */
.multiSelect {
    overflow: auto;
}
.multiSelect .select {
    margin-right: 20px;
    float: left;
}
.multiSelect .text {
    clear: both;
    font-size: 11px;
}
.multiSelect label::after {
    content: ":";
}
.btn.mover {
    display: block;
    margin-top: 25px;
    vertical-align: top;
}
.btn.mover.left {
    padding: 3px 8px 2px 6px;
}
.btn.mover.right {
    margin-top: 24px;
    padding: 3px 7px 2px;
}
.btn.mover i {
    margin: 0;
}

/* demo css */
li {
    list-style-type: disc;
}
}