body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
body {
    font-family: "Segoe UI", Helvetica, Verdana;
    font-size: 14px;
    line-height: 1.42857143;
    color: #525252;
    background-color: #fff;
}

/* Bootstrap overrides */
.navbar {
    background: #F0F0F0 !important;
    box-shadow: 0px 3px 5px #DDD !important;
    border-width: 0 0 0px !important;
    border: 0px solid transparent !important;
}
.navbar .container {
    margin-left: 0px !important;
}
.prodWarning {
    color: red;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    display: inline;
    margin-left: 25px;
}
.navbar-brand {
    background: url(../Assets/MCC_Logo_158x18.png) no-repeat top left !important;
     display: block !important;
     width: 250px !important;
     height: 18px !important;
     margin-left: 0px !important;
     margin-top: 15px !important;
     color: #7D7D7D !important;
     text-indent: -9999px !important; /* hides the link text */
}

.navbar-toggle {
    position: relative;
    float: left !important;
    padding: 9px 10px;
    margin-top: 15px !important;
    margin-left: 15px !important;
    margin-bottom: 8px !important;
    background-color: transparent !important;
    background-image: url(../Assets/Home_20x20.png) !important;
    border: 0px solid transparent !important;
    border-radius: 4px;
}

.navbar-logout {
    position: relative;
    font-family: "Segoe UI", Helvetica, Verdana;
    font-weight: bold;
    color: #525252;
    float: right !important;
    padding: 9px 10px;
    margin-top: 5px !important;
    margin-right: 15px !important;
    background-color: transparent !important;
    border: 0px solid transparent !important;
    border-radius: 4px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
select, select[size="0"], select[size="1"] {
    border-radius: 5px;
    border-color: #f57c21;
    font-family: "Segoe UI", Helvetica, Verdana;
    /*font-size: 12px;*/
    font-weight: bold;
    /*padding: 0px 6px!important;*/
    border-width: thin;
}
select:not(:-internal-list-box) {
    border-radius: 5px;
    border-color: #f57c21;
}
select::-ms-expand { 
    display: none; 
}

select {
    display: inline-block;
    /*padding: 0px 3px!important;*/
    padding-left: 3px;
    padding-right: 15px;
    border-color: #f57c21;
    background-color: #fbc69b;
    -webkit-appearance: none;
    background: url(/Assets/selectArrow.png) no-repeat right #fbc69b;
}
select.inpSelect {
    -webkit-appearance: none;
    background: url(/Assets/selectArrow.png) no-repeat right #fbc69b;
}
.btn {
    font-family: "Segoe UI", Helvetica, Verdana;
    font-weight: bold;
    text-align: center;
    padding: 1px 6px!important;
    margin-bottom: 4px;
    border-width: thin;
    border-radius: 5px;
}
.btn.btn-info {
    background: #fbc69b;
    color: #525252;
    border-color: #f57c21;
}
.btn.btn-xs {
    padding: 0px 6px!important;
}
.btn.btn-info:hover, .btn:active {
    color: #ffffff;
    background: #f57c21;
    border-color: #f47c20;
}
.btn.btn-primary {
    background: #75cff1;
    color: #525252;
}
.btn.btn-primary:hover {
    background: #2d8aad;
    color: #ffffff;
}
.btn.btn-danger {
    background: #f88181;
    color: #ffffff;
}
.btn.btn-danger:hover {
    background: #f88181;
    color: #525252;
}
.navbar-inverse .navbar-nav>li>a {
    color: #525252;
    font-family: "Segoe UI", Helvetica, Verdana;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #525252;
    font-family: "Segoe UI", Helvetica, Verdana;
    font-weight: bold;
}

/* Force bootstrap to always be in 'mobile' collapsed mode with List menu */
@media (max-width: 2991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        background: #F0F0F0 !important;
        box-shadow: 0px 3px 5px #DDD !important;
        border-width: 0 0 0px !important;
        border: 0px solid transparent !important;
        max-width: none;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: #525252;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
/* End Bootstrap overrides */

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 380px;*/
    max-width: 90%;
}

/* Stack Trace panel size and color options */
div.panel {
    margin: 0px;
	padding: 5px;
	/*text-align: left;
	background: #ddd;
	border: solid 1px #fff;
    max-width: 75%;*/
	display: none;
}

/* Instruction panel button */
div.flip {
    border: solid 1px #fff;
}

.flip span{
    color: blue;
}

.flip:hover span{
    font-weight:bold;
    text-decoration:underline;
}  

.gridStyle {
  width: 99%;
  max-width: 1800px;
  height: 800px;
  align-content: center;
}
.subGridStyle {
  width: 100%;
  float: right;
}

.above-grid {
    width: 99%;
    height: 28px;
    display: block;
    padding-right: 8px;
}
.grid-tooltip {
  overflow: visible;
  z-index: 9999999;
  float: left;
}

.my-custom-menu {
  position: absolute;
}
 
.my-custom-menu .ui-grid-menu {
  padding: 0px;
}
 
.my-custom-menu .ui-grid-menu-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-group {
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 100%;
    max-width: 100%;
}

.CodeMirror {
    max-width: 1200px;
    max-height: 800px;
    min-height: 230px;
    align-content: center;
}

.CodeMirror textarea {
    resize: both;
}

/* for drag and drop file upload */ 
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 300px;
    height: 125px;
    text-align: center;
    padding-top: 35px;
    margin: 0px;
}
.dragover {
    border: 5px dashed blue;
}

.modal-content.ui-resizable {
    /*overflow-y: scroll;*/
    /*overflow-y: hidden;*/
    /*position: static;*/
}
.modal-dialog {
  position: relative;
}
/* Modal Service Dialogs */
@media (min-width: 168px) {
    .modal-dialog.modal-lg {
        min-width: 1000px;
    }
}
.modal-header {
    background: #F0F0F0 !important;
    box-shadow: 0px 3px 5px #DDD !important;
    border-width: 0 0 0px !important;
    border: 0px solid transparent !important;
}
.modal-body .file-view {
    min-width: 60%;
    min-height: 60%;
    resize: both;
    width: 800px;
    height: 600px;
}
.modal-body .form-group .display-element {
    font-weight: bold;
}
.modal-body .note-view {
    min-width: 60%;
    min-height: 60%;
    resize: both;
    width: 800px;
    height: 300px;
}
.modal-body .form-control {
    /*max-width: 500px;*/
}
.multiSelect .select {
    width: 420px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

.multiSelect .multiSelectBox {
    min-width: 200px;
    min-height: 80px;
    background: #fce8d8;
}

.multiSelect .text {
    clear: both;
    font-size: 11px;
}
.multiSelect label::after {
    content: ":";
}
.btn.mover {
    display: inline-block;
    margin-bottom: 25px;
    /*margin-top: 25px;*/
}
.btn.mover.down {
    margin-left: 3px;
    margin-right: 2px;
    padding: 3px 8px 2px 6px;
}
.btn.mover.up {
    margin-right: 10px;
    margin-left: 2px;
    padding: 3px 8px 2px 6px;
}
.btn.mover i {
    margin: 0;
}

li {
    list-style-type: disc;
}

.sweet-alert {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*width: 478;*/
  width: 378px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999; 
}
